# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*.so

# Git
.git/
.gitignore

# Environment (JANGAN masuk image)
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Uploads (nanti pakai volume)
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Dokumentasi
README.md